<div class="box">
            <div class="cards row">
                <div class="cardd col-5 rounded-4">
                        <div class="cards-title">Депозиты</div>
                        <div class="d-flex">
                        <button class="button-edit btn btn-primary me-2">Редактировать</button>
                        <button class="button-delete btn btn-danger ">Удалить</button>
                    </div>
                </div>
                <div class="cardd col-5 rounded-4">
                    <div class="cards-title">Зарплата</div>
                    <div class="d-flex">
                        <button class="button-edit btn btn-primary me-2">Редактировать</button>
                        <button class="button-delete btn btn-danger ">Удалить</button>
                    </div>
                </div>
                <div class="cardd col-5 rounded-4">
                    <div class="cards-title">Сбережения</div>
                    <div class="d-flex">
                        <button class="button-edit btn btn-primary me-2">Редактировать</button>
                        <button class="button-delete btn btn-danger ">Удалить</button>
                    </div>
                </div>
                <div class="cardd col-5 rounded-4">
                    <div class="cards-title">Инвестиции</div>
                    <div class="d-flex">
                        <button class="button-edit btn btn-primary me-2">Редактировать</button>
                        <button class="button-delete btn btn-danger ">Удалить</button>
                    </div>
                </div>
                <div class="cardd col-5 rounded-4">
                    <div>
                    <img src="img/ernings-comsumption/+.svg" alt="+" >
                </div>
                </div>
            </div>
          </div>