
    <section class="form h-100 d-flex align-items-center justify-content-center">
    <div class="container text-center">
        <div class="logo">
            <img src="img/logo.svg" alt="logo" width="171" height="70">
        </div>
        <div class="form-content row " >
            <h1 class="form-title ">
                Создайте аккаунт
            </h1>
            <form class="position-relative">
                <input id="fullname" type="text" placeholder="ФИО"  class="fullname rounded-1 w-100 ">
                <img src="img/login-signup/person.svg" alt="img-fullname" class="img-fullname position-absolute z-1">
                <input id="email" type="text" placeholder="Электронная почта"  class="email rounded-1 w-100 ">
                    <img src="img/login-signup/mail.svg" alt="img-email" class="img-email position-absolute z-1">
                <input id="password" type="password" placeholder="Пароль"  class="password  rounded-1 w-100 text-secondary">
                    <img src="img/login-signup/lock.svg" alt="img-lock" class="img-lock position-absolute z-1">
                <input  id="rep-password" type="password" placeholder="Подтверждение пароля" class="rep-password  rounded-1 w-100 text-secondary">
                    <img src="img/login-signup/lock.svg" alt="img-lock" class="img-rep-password  position-absolute z-1">
                
                <button class="button-signup btn btn-primary w-100" id="process" disabled>Войти</button>
            </form>
            <div class="form-link text-start d-flex">
                <div class="me-2">Уже есть аккаунт?</div>
                <a href="/#/login">Войдите в систему</a>
            </div>
        </div>
      </div>
    </section> 
