@font-face { 
    font-family: "Roboto400";
    src: url(../fonts/Roboto-Regular400.ttf) format("woff")
}
@font-face { 
    font-family: "Roboto500";
    src: url(../fonts/Roboto-Medium500.ttf) format("woff")
}
html,body{
    font-family: "Roboto400";
}

/* body{
    height: 100em;
} */
.logo{
    padding: 40px 71px 20px 50px;
}
.nav-saidbar{
    margin: 60px 20px;
}
.saidbar-item-title,
.nav-saidbar-item,
.nav-saidbar-catiger{
    font-size: 14px;
    line-height: 16px ;
    color:rgba(5, 44, 101, 1);
    cursor: pointer;
}
    

.nav-saidbar-item,
.catiger-item,
.nav-saidbar-catiger{
    max-width: 188px;
    padding: 12px 11px 12px 16px; 
}
.catiger-item{
    font-size: 14px;
    line-height: 16px ;
    color:rgba(13, 110, 253, 1);
    cursor: pointer;
    border-left: 1px solid rgba(13, 110, 253, 1);
    border-right: 1px solid rgba(13, 110, 253, 1);
}

.activ{
    background-color: rgba(13, 110, 253, 1);
    color: white;
    border-radius: 5px;
}
.activ path {
    fill: antiquewhite;
}

.activ-catiger{
    background-color: rgba(13, 110, 253, 1);
    color: white;
    border-radius: 5px 5px 0 0;
}
.activ-ernings{
    background-color: rgba(13, 110, 253, 1);
    color: white;
}

.noactive-comsumotion,
.activ-comsumotion{
    border-bottom: 1px solid rgba(13, 110, 253, 1);
    border-radius:  0 0 5px 5px;
}
.activ-comsumotion{       /* активировать расходы но при этом класс noactive-comsumotion отсается всегда в html */
    background-color: rgba(13, 110, 253, 1);
    color: white;
}

.btn-toggle::before{
    position: absolute;
    content: url(../img/ernings-comsumption/arrow-dark.svg) !important;
    left: 152px;
    top: 13px;
}
.btn-toggle[aria-expanded="true"]::before {
    content: url(../img/ernings-comsumption/arrow-white.svg) !important;
}
/* -------------------------------------------------------------------------------------------------- */

.balans{
    font-family: "Roboto500";
    font-size: 14px;
line-height: 16px;
color: rgba(5, 44, 101, 1);
padding: 0 0 20px 20px;
}
.balans-text{
    color: rgba(5, 44, 101, 1);
}
.balans-text span{
    color: rgba(13, 110, 253, 1);
}
.user {
    padding: 20px 0 40px 20px;
}
.user-img {
}
.user-title {
font-size: 14px;
line-height: 24px;
color: rgba(5, 44, 101, 1);
}
.user-arrow svg{
    transform: rotate(90deg);
}
/* content-title-------------------------------------------- */
.content-categoty{
    padding: 100px 10px 50px 60px !important;
}
.content-title{
    font-family: "Roboto500";
font-size: 40px;
line-height: 47px;
color: rgba(5, 44, 101, 1);
margin-bottom: 30px;
}
/* form-------------------------------------------- */

.form-category-use input{
    border: 1px solid rgba(206, 212, 218, 1);
    max-width: 397px !important;
    margin-left: 14px ;
}
.form-category-use input::placeholder{
font-size: 15px;
line-height: 24px;
color: rgba(108, 117, 125, 1);
}
.buttons button{
font-size: 14px;
}
/* popap-------------------------------------------- */
.popap{
    display: none;
    position: absolute;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.45);
z-index: 100;
top: 0;
left: 0;

}
.popap-content{
    position:fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
    padding: 40px;
    background-color: white;
    max-width: 530px;
    border-radius: 12px;
}
.popap-title{
    font-family: "Roboto500";
font-size: 20px;
line-height: 23px;
color: rgba(41, 6, 97, 1);
text-align: center;
margin-bottom: 20px;
}